@import url(styles.css);
@import url(BatmanNav.css);
/******************************************************************************
 * COLORS AND DEFINTIONS
 * http://paletton.com/#uid=7070u0kvWXGjwXnpJXJSjWwTyw7
 *****************************************************************************/
@import url(https://fonts.googleapis.com/css?family=Didact+Gothic|Roboto);
body {
  font-family: "Didact Gothic", serif; }

/******************************************************************************
  * GENERALLY USEFUL
  *****************************************************************************/
.centerHorizontally {
  margin: 0 auto; }

.grid {
  background: white;
  margin: 0 0 0px 0; }
  .grid:after {
    /* Or @extend clearfix */
    content: "";
    display: table;
    clear: both; }
  .grid *, .grid *:after, .grid *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

[class*='col-'] {
  float: left;
  padding-right: 0px; }
  .grid [class*='col-']:last-of-type {
    padding-right: 0; }

.col-2-3 {
  width: 66.66%; }

.col-1-3 {
  width: 33.33%; }

.col-1-2 {
  width: 50%; }

.col-1-4 {
  width: 25%; }

.col-1-8 {
  width: 12.5%; }

/* Opt-in outside padding */
.grid-pad {
  padding: 0px 0 0px 0px; }
  .grid-pad [class*='col-']:last-of-type {
    padding-right: 0px; }

/******************************************************************************
 * Additional NAV
 *****************************************************************************/
.Welcome:hover {
  background-color: #0abaf5; }

.Research:hover {
  background-color: #ff2801; }

.Publications:hover {
  background-color: #01f854; }

.Projects:hover {
  background-color: #ff8301; }

/******************************************************************************
 * WELCOME
 *****************************************************************************/
#html {
  background: url(/assets/Headshot-BlueMosque-grayscale.png) no-repeat center center fixed;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: auto; }

.welcomeBody {
  background: url(/assets/Headshot-BlueMosque-grayscale.png) no-repeat center center fixed;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: auto; }
  @media only screen and (max-width: 766px) {
    .welcomeBody {
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; } }

#bg_1 {
  background-image: url(images/bg/1.jpg);
  background-position: center center; }

.backgroundImage {
  z-index: -1;
  position: absolute; }

.bio {
  margin-top: 20px;
  padding: 10px;
  width: 300px;
  background-color: rgba(10, 186, 245, 0.6);
  border-radius: 30px; }

.bioText {
  margin: 5px;
  padding: 5px; }

.bioContainer {
  width: 300px;
  height: 100%; }

.headshot {
  top: 10%; }

/******************************************************************************
 * PROJECTS
 *****************************************************************************/
.projects {
  max-width: 1000px; }

.project {
  min-height: 250px; }
  .project .title {
    color: #333333;
    font-size: 18pt;
    margin-bottom: 5px; }
  .project.big {
    width: 96%; }
    .project.big .imgHolder {
      width: 250px;
      float: left; }
      .project.big .imgHolder img {
        width: 250px;
        margin-right: 5px; }
  .project.small {
    min-width: 125px;
    width: 48%;
    height: 150px; }
    .project.small .imgHolder {
      width: 100%;
      height: inherit; }
      .project.small .imgHolder img {
        width: 140px;
        height: auto;
        margin-right: 5px; }
    .project.small .description {
      visibility: hidden; }

.stitched, .project {
  padding: 10px;
  margin: 5px;
  background: rgba(255, 131, 1, 0.3);
  line-height: 1.3em;
  border-radius: 5px; }

/******************************************************************************
 * PUBLICATIONS
 *****************************************************************************/
.publicationListing {
  width: 90%;
  max-width: 900px; }

.singlePub {
  position: relative;
  width: 100%;
  max-width: 900px;
  padding-bottom: 10px;
  border-bottom: 3px dotted #abc;
  font-size: medium; }
  .singlePub div {
    padding-bottom: 1px; }
  .singlePub a:link {
    text-decoration: none; }
  .singlePub .title {
    font-style: italic; }
  .singlePub .authors {
    font-size: small; }
  .singlePub .bookTitle {
    font-size: small;
    margin-left: 5px; }
  .singlePub .pubType {
    font-size: small; }
  .singlePub .year {
    font-size: small; }
  .singlePub .download, .singlePub .showBibtex, .singlePub .showDetails {
    background-color: #65d0f4;
    color: #FFF;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: small; }
  .singlePub .leftSide {
    float: left;
    width: 100%; }
  .singlePub .buttons {
    width: 100px;
    color: #FFFFFF;
    text-align: center; }
    .singlePub .buttons a:link {
      text-decoration: none;
      color: inherit; }
    .singlePub .buttons .download {
      background-color: #ff2800;
      color: #FFFFFF;
      border-radius: 10px; }
    .singlePub .buttons .showDetails {
      background-color: #0178a0;
      border-radius: 10px; }
    .singlePub .buttons .showBibtex {
      background-color: #ff8300;
      border-radius: 10px; }

/******************************************************************************
 * PUBLICATIONS
 *****************************************************************************/
.researchBody {
  max-width: 900px;
  width: 95%; }

.research-desktop {
  visibility: visible; }
  @media only screen and (max-width: 766px) {
    .research-desktop {
      visibility: hidden; } }

.research-mobile {
  visibility: hidden;
  height: 0px; }
  @media only screen and (max-width: 766px) {
    .research-mobile {
      visibility: visible; }
      .research-mobile .title {
        height: 200px;
        background-color: #fff; } }

.researchTopic {
  max-width: 640px;
  background-repeat: no-repeat;
  height: 360px;
  border-radius: 15px;
  margin-bottom: 10px; }
  .researchTopic .icon {
    height: 15px; }
  .researchTopic .title {
    font-size: 1.5em;
    font-family: "Roboto", sans-serif;
    background-color: #65d0f4;
    opacity: .9;
    text-align: center;
    height: 30px; }
  .researchTopic a:link {
    text-decoration: none; }
  .researchTopic .goToInfo {
    width: 100%;
    background-color: #8620f0;
    font-family: "Roboto", sans-serif;
    opacity: .8;
    width: 50%;
    clear: left;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
    height: 30px;
    padding-top: 5px; }
  .researchTopic .description {
    height: 100%; }
    .researchTopic .description a:link {
      text-decoration: none; }
    .researchTopic .description .descriptionText {
      height: 330px;
      font-size: smaller;
      padding: 2px;
      background-color: #e6e6f0;
      opacity: .9; }
